<section>
     <div class="container mt-4">
		 <div class="row">
			 <div class="modal-header">						
					<h4 class="modal-title">Login</h4>
                   <form action="/login" method="post" >
				   {{#if loginErr}}
				      <p class="error">{{loginErr}}</p>
				    {{/if}}
	
						<label for="">Email</label>
						<input type="text" name="Email" class="form-control">

					
						<label for="">Password</label>
						<input type="password"  name="Password"  class="form-control">
		
					<button type="submit" class="btn btn-success">Signin</button>
                    <a href="/signup"> New account </a> 
			</form>
     </div>
 </div>
 </div>
</section>